


/* .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  } */


  .sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #080808;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
   


  }
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 100px;
    text-align: center;
    background: #242525;
    user-select: none;
  }
  .sidebar ul a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  .sidebar a:hover{
      color: rgb(20, 140, 220);
  }
  .sidebar ul {
    list-style-type: none;
    padding-left: 1px;
  }
  .fas{
      padding-right: 20px;
  }

  .container-fluid{
   padding-left: 150px;
    margin-right: 0px;
    /* background-color:rgb(155, 153, 153); */
    width: 90%;
    height: 100%;
  }
  /* .container{
      margin-left: 250px;
  } */


.my-custom-scrollbar {
    position: relative;
    height: 270px;
    overflow: auto;
    margin-bottom: 30px;
    }

    .card{
      margin-bottom: 30px;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  
    .dot {
      height: 15px;
      width: 15px;
      background-color: rgb(68, 153, 51);
      border-radius: 50%;
      display: inline-block;
    }
  
    
    .vl {
      margin: 20px !important;
      width: 7px;
      border-right: 2px solid #070707;
     
  }
  .jumbotron{
    width: 90%;
    padding-left: 50px;
  }
  .content{
    font-family: 'Girassol', cursive;
    color: rgb(0, 0, 0);
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
   letter-spacing: 5px;

  }
  .blog .carousel-indicators {
    left: 0;
    top: auto;
      bottom: -40px;
  
  }
  
  /* The colour of the indicators */
  .blog .carousel-indicators li {
      background: #a3a3a3;
      border-radius: 50%;
      width: 8px;
      height: 8px;
  }
  
  .blog .carousel-indicators .active {
  background: #707070;
  }
 

  .top h2{
    color: brown;
    font-family: 'Itim', cursive;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container11{
    background-image: url(/images/back.png);
    background-color: transparent;
    /* background-image: linear-gradient(180deg, rgba(0,0,0,0.15) 0%, #000000 100%); */
    opacity: 9;
    position: relative;

  }
  



  