<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static "css/main.css" %}"> <link
    rel="stylesheet" href="{% static "css/addbookmark.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Add Folder</title>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header><a href="{% url 'mainpage' %}">BOOKMARK</a></header>
      <ul>
        <li>
          <a href="{% url 'editProfile' %}"
            ><i class="fas fa-user"></i>Edit Profile</a
          >
        </li>
        <li>
          <a href="{% url 'addBookmark' %}"
            ><i class="fas fa-bookmark"></i>Add Bookmark</a
          >
        </li>
        <li>
          <a href="{% url 'changepassword' %}"
            ><i class="fas fa-lock"></i>Change Password</a
          >
        </li>
        <li>
          <a href="{% url 'logout' %}"
            ><i class="fas fa-sign-out-alt"></i>Logout</a
          >
        </li>
      </ul>
    </div>

    <div class="container">
      <div class="center">
        <input type="checkbox" id="show" />
        <label for="show" class="show-btn">Click to create Folder</label>
        <div class="container1">
          <label for="show" class="close-btn fas fa-times"></label>
          <div class="text">Add Folder</div>
          <form action="" method="post">
            {% csrf_token %}
            <div class="data">
              <label>Folder Name </label>
              {{folder.folderName}}
            </div>
            {{folder.folderName.errors|striptags}}
            <div class="data">
              <label class="switch">
                {{folder.public}}
                <span class="slider round"> </span>
              </label>
              <label class="input">Public</label>
            </div>
            <div class="btn">
              <div class="inner"></div>
              <button type="submit">Create</button>
            </div>
          </form>
        </div>
      </div>


      <div class="container2">
      
        <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="card-title">
                  <a href="{% url 'favouriteList'  %}">
              <div class="name"><b>Favourite</b></div></a>

                  <div class="btns d-inline %}">
                  
                  </div>
                </div>
              </div>

              <div class="col">
                <h4 class="card-subtitle mb-2 text-muted">
                  <p class="card-text text-muted small">
                    <i class="fas fa-star"></i>
                    <span class="vl mr-2 ml-0"></span> Created by
                    <span class="font-weight-bold">Bookmark Management Team</span> 
                  </p>
                </h4>
              </div>
            </div>
          </div>
        </div>
       


       {% for name in foldername %}
      
        <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="card-title">
                  <a href="{% url 'bookmarks' name.ids %}">
              <div class="name" style="margin-right: 100%;"><b>{{name.folderName}}</b></div></a>

                  
                </div>
              </div>

              <div class="col">
                <h4 class="card-subtitle mb-2 text-muted">
                  <p class="card-text text-muted small">
                    <i class="fas fa-star"></i>
                    <span class="vl mr-2 ml-0"></span> Created by
                    <span class="font-weight-bold"> {{name.userFullname}}</span> {{name.folderCreatedTime}}
                  </p>
                 
                </h4>
                 <div class="" style="display:inline; float:right;margin-top:-20px;margin-right:20px">
                  
                    <form action="{% url 'deleteFolder' name.ids %}" method="post" >
                    {% csrf_token %}
                    
                     <button type="submit" class="buttons-folders" style="width:100px">Delete</button>
                 
                    </form>
                    <button style="width:100px" >Edit</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
  

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="addbookmark.js"></script>
  </body>
</html>
