<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
    <header>
    <a href="{% url 'mainpage' %}">BOOKMARK</a>
    </header>
  <ul>
    <li><a href="{% url 'editProfile' %}"><i class="fas fa-user"></i>Edit Profile</a></li>
    <li><a href="{% url 'addBookmark' %}"><i class="fas fa-bookmark"></i>Add Bookmark</a></li>
    <li><a href="{% url 'changepassword' %}"><i class="fas fa-lock"></i>Change Password</a></li>
    <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>

</ul>
</div>



<div class="container">
        <div class="forms-container">
          <div class="signin-signup">
          <form action="" method="post" class="sign-in-form">
            {% csrf_token %}
              <h2 class="title">{{request.user.get_full_name}}</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
               {{profileChange.username}}
{{profileChange.username.errors|striptags}}
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
               {{profileChange.first_name}}
{{profileChange.first_name.errors|striptags}}
              </div>

               <div class="input-field">
                <i class="fas fa-user"></i>
               {{profileChange.last_name}}
{{profileChange.last_name.errors|striptags}}
              </div>

              <div class="input-field">
                <i class="fas fa-envelope"></i>
              {{profileChange.email}}
{{profileChange.email.errors|striptags}}
              </div>


{% comment %} <div>
              <label class="switch">
  <input type="checkbox"> 
  <span class="slider round"> </span>
</label>
<label class="input"></label>  
</div> {% endcomment %}
{{profileChange.is_active}}
{{profileChange.is_active.errors|striptags}}
<input type="submit" class="btn solid" value="Update" >     
</form>
                      
          </div>
        </div>
  
        <div class="panels-container">
          <div class="panel right-panel">
            <div class="content">
             <h2>Joined by {{request.user.username}}</h2> 
              <p>
              {{joined_date}}
              </p>
    
            </div>
            <img src="{% static 'images/editprofile.svg' %}" class="image" alt="" />
          </div>
    
            </div>

          </div>
        </div>
  
</div>
  </body>
</html>
