<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
   

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>
        <a href="{% url 'mainpage' %}">BOOKMARK</a>
        </header>
    <ul>
      <li><a href="{% url 'editProfile' %}"><i class="fas fa-user"></i>Edit Profile</a></li>
      <li><a href="{% url 'addBookmark' %}"><i class="fas fa-bookmark"></i>Add Bookmark</a></li>
      <li><a href="{% url 'changepassword' %}"><i class="fas fa-lock"></i>Change Password</a></li>
      <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
  
  </ul>
</div>

<div class="container">
<div class="content1">
<div class="contentinside">
<h1> hello</h1>
</div>
</div>

</div>


  </body>
</html>
